extends layout

block content
  h1=title

  - var dayOfBirth, dayOfDeath;
  - if (author) {
  -   dateOfBirth = author.date_of_birth ? (author.date_of_birth.getFullYear() + '-' + ((author.date_of_birth.getMonth()+1) < 10 ? '0'+(author.date_of_birth.getMonth()+1) : author.date_of_birth.getMonth()+1) + '-' + author.date_of_birth.getDate()) : '';
  -   dateOfDeath = author.date_of_death ? (author.date_of_death.getFullYear() + '-' + ((author.date_of_death.getMonth()+1) < 10 ? '0'+(author.date_of_death.getMonth()+1) : author.date_of_death.getMonth()+1) + '-' + author.date_of_death.getDate()) : '';
  - }
  //-p !{author.date_of_birth} birthday
  //-p !{author.date_of_death} death
  //-p !{dateOfBirth} birthday2
  //-p !{dateOfDeath} death2

  form(method='POST' action='')
    div.form-group
      label(for='first_name') First Name:
      input#first_name.form-control(type='text' placeholder='First name (Christian) last' name='first_name' value=(undefined===author ? '' : author.first_name) )
      //-input#first_name.form-control(type='text' placeholder='First name (Christian) last' name='first_name' required='true' value=(undefined===author ? '' : author.first_name) )
      label(for='family_name') Family Name:
      input#family_name.form-control(type='text' placeholder='Family name (surname)' name='family_name' required='true' value=(undefined===author ? '' : author.family_name))
      //-<input class="form-control" id="family_name" placeholder="Family name (surname)" name="family_name" required="true" value="" type="text">
    div.form-group
      label(for='date_of_birth') Date of birth:
      //- use virtual model property:
      //-input#date_of_birth.form-control(type='date' name='date_of_birth' value=(undefined===author ? '' : author.dob))
      //- or use variable set above:
      input#date_of_birth.form-control(type='date' name='date_of_birth' value=(undefined===author ? '' : dateOfBirth))
      label(for='date_of_death') Date of death:
      input#date_of_death.form-control(type='date' name='date_of_death' value=(undefined===author ? '' : author.dod))
    button.btn.btn-primary(type='submit') Submit
  if errors 
    ul
      for error in errors
        li!= error.msg
        //- != is unescaped assignment and = is escaped assignment special char > escaped as &lt escape sequence.
        //-e.g. errors.array() -> Array(2) [Object] -> Array()[0] [Object] -> Object {location: "body", param: "first_name", value: "", msg: "First name must be specified."}
        //-e.g. errors.array() -> Array(2) [Object] -> Array()[1] [Object] -> Object {location: "body", param: "first_name", value: "", msg: "First name has non-alphanumeric characters."}
